body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
    font-size: 16px;
    background-color: #97BCA8;
    line-height:22px;
}