@charset "UTF-8";

/*===========================================================*/
/*基本设置*/
body{
    color: #c8c8c8;
    //background-color: #272b30;
}
a {
    color: #ffffff;
}
a:hover,
a:focus {
    color: #ffffff;
}
hr{
    border-top: 1px solid #1c1e22;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/*===========================================================*/
/*字体颜色*/
.text-muted {
    color: #7a8288;
}
.text-primary,
.text-primary:hover {
    color: #7a8288;
}
.text-success,
.text-success:hover {
    color: #62c462;
}
.text-danger,
.text-danger:hover {
    color: #ee5f5b;
}
.text-warning,
.text-warning:hover {
    color: #f89406;
}
.text-info,
.text-info:hover {
    color: #5bc0de;
}
.bg-primary {
    color: #fff;
    background-color: #7a8288;
}
a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #62686d;
}
.bg-success {
    background-color: #62c462;
}
a.bg-success:hover,
a.bg-success:focus {
    background-color: #42b142;
}
.bg-info {
    background-color: #5bc0de;
}
a.bg-info:hover,
a.bg-info:focus {
    background-color: #31b0d5;
}
.bg-warning {
    background-color: #f89406;
}
a.bg-warning:hover,
a.bg-warning:focus {
    background-color: #c67605;
}
.bg-danger {
    background-color: #ee5f5b;
}
a.bg-danger:hover,
a.bg-danger:focus {
    background-color: #e9322d;
}
/*========================================================*/
/*按钮*/


.btn:hover{
    color: #ffffff;
}

.btn-default {
    color: #ffffff;
    background-color: #33383c;
    border-color: #33383c;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #232628;
    border-color: #1e2023;
}

.btn-primary {
    color: #ffffff;
    background-color: #7a8288;
    border-color: #7a8288;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #62686d;
    border-color: #5d6368;
}


.btn,
.btn:hover {
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-default {
    background-image: -webkit-linear-gradient(#444a50, #383b3e 100%, #464c52);
    background-image: -o-linear-gradient(#444a50, #383b3e 100%, #464c52);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(50%, #33383c), to(#313539));
    background-image: linear-gradient(#444a50, #383b3e 100%, #464c52);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn-default:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 450%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 450%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(450%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 450%, #141618);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn-primary {
    background-image: -webkit-linear-gradient(#8a9196, #7a8288 50%, #70787d);
    background-image: -o-linear-gradient(#8a9196, #7a8288 50%, #70787d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(50%, #7a8288), to(#70787d));
    background-image: linear-gradient(#8a9196, #7a8288 50%, #70787d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn-primary:hover {
    background-image: -webkit-linear-gradient(#404448, #4e5458 450%, #53595d);
    background-image: -o-linear-gradient(#404448, #4e5458 450%, #53595d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#404448), color-stop(450%, #4e5458), to(#53595d));
    background-image: linear-gradient(#404448, #4e5458 450%, #53595d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff404448', endColorstr='#ff53595d', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.close {
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
}
.close:hover,
.close:focus {
    color: #000000;
}

/*===========================================================*/
/* 工具条 */

#gnavbar {
    background-image: -webkit-linear-gradient(#444a50, #383b3e 100%, #464c52);
    background-image: -o-linear-gradient(#444a50, #383b3e 100%, #464c52);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(50%, #33383c), to(#313539));
    background-image: linear-gradient(#444a50, #383b3e 100%, #464c52);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    background-color: #33383c;

    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#gnavbar td {
    border: 1px solid  rgba(43, 46, 50, 0.6);
}

/*===============================*/
/*对话框*/

.modal-content {
    background-color: #2e3338;

}
.modal-header {
    border-bottom: 1px solid #1c1e22;
}
.modal-footer {
    border-top: 1px solid #1c1e22;
}

/*======================================*/
/* 列表框 */

a.list-group-item{
    color: #c8c8c8;
}

.list-group-item {
    background-color: #32383e;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
a.list-group-item:hover,
a.list-group-item:focus {
    color: #c8c8c8;
    background-color: #3e444c;
}

/*==============*/
/*面板*/

.panel{
    background-color: #2e3338;
}

.panel-info {
    border-color: rgba(0, 0, 0, 0.6);
}


/*=====================*/
/*菜单*/

.dropdown-menu{
    background-color: #33383c;
    border: 1px solid #272b30;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-menu > li > a {
    color: #c8c8c8;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #272b30;
}
.dropdown-menu .divider {
    background-color: #272b30;
}

#well_box, .comment-wrap, .tab_notices{
    background-image: linear-gradient(#444a50, #383b3e 100%, #464c52);
    border: none;
    border-top: none !important;
}

.tab-comment h4.active{
    background-image: linear-gradient(#444a50, #383b3e 100%, #464c52) !important;
}
.comment-wrap .media-body{
    background-image: linear-gradient(#444a50, #383b3e 100%, #464c52);
    border: none !important;
}

.comment-wrap .media{
    border-bottom: 1px solid #484e55;
}

.footer{
    border-top: none !important;
}