@charset "utf-8";
/* 
*	Date: 2021-11-7
*	Author: Agnes Xu
*/

/* html, body{width:100%;height:100%;padding:0;margin:0;} */
/* body{font-family:"Microsoft nhã đen","Tiếng Hoa mảnh đen",Arial, Helvetica, sans-serif;font-size:14px;color:#fff;user-select:none;-webkit-user-select:none;-webkit-text-size-adjust: none;background-color:#999;} */

/* .game_time{width:100px;height:100px;position:absolute;top:30%;left:40%;text-align:center;} */

/* time scroll*/
/* .pie{width:30px;height:30px;background-color:blue;border-radius:100px;position:absolute;} */
/* .pie1{clip:rect(0px,200px,200px,100px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);background-color:#fff;} */
/* .pie2{clip:rect(0px,100px,200px,0px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);background-color:#fff;} */
/* .hold{width:20px;height:20px;position:absolute;z-index:1;} */
/* .bg{width:20px;height:20px;border-radius:20px;position:absolute;background-color:#d13c36;} */
/* .time{width:0px;height:0px;margin:0px 0 0 0px;background-color:#FFEB3B;border-radius:0px;position:absolute;z-index:1;text-align:center;line-height:0px;font-size:2px;} */

.time{width:20px;height:20px;margin:0px 0 0 0px;background-color:#FFEB3B;border-radius:20px;position:absolute;z-index:1;text-align:center;line-height:10px;font-size:8px;}