/* body { */
  /* background: #DCF5FF; */
  /* margin: 0; */
  /* height: 100vh; */
  /* display: grid; */
  /* justify-items: center; */
  /* align-items: center; */
  /* font-family: 'Nunito', 'sans-serif'; */
/* } */

.inner {
  background: #09c999;
  /* padding: 1em; */
    padding-top: 0em;
    padding-right: 1em;
    padding-bottom: 0em;
    padding-left: 1em;
  border-radius: 10px;
  width: 250px;
  /* clip-path: circle(10% at 90% 20%); */
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.inner:hover {
  clip-path: circle(75%);
  background: #00B6FF;
}
.inner h1 {
  color: white;
  margin: 0;
}
.inner p {
  color: white;
  font-size: .8rem;
}
.inner span {
  float: right;
  color: white;
  font-weight: bold;
  transition: color .5s;
  position: relative;
  margin-right: 4%;
  line-height:12px;
  font-size:24px;
}
.inner:hover span {
  color: rgba(255, 255, 255, 0);
}
